@navbar-padding: 20px;
@container-padding: 15px;
@jumbotron-height: 500px;
@title-top-padding: 120px;

@light-gray: #ACACAC;
@lighter-gray: #CCCCCC;

#home {

	.navbar.navbar-default {
		background-color: #34302d;
		border: none;
		border-radius: 0;
		
		a {
			color: @light-gray;
		}
		
		a:hover {
			color: @lighter-gray;
		}
	}

	.jumbotron {
		background-image: url('../jumbo-bg.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: 100% auto;
				
		margin: -@navbar-padding -@container-padding @navbar-padding -@container-padding;
		height: @jumbotron-height;
		
		border-radius: 0;
		
		h1 {
			text-align: center;
			padding-top: @title-top-padding;
			
			span {
				background-color: rgba(0, 0, 0, .6);
				color: @lighter-gray;
			}
		}
	}
}