<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
	<% include ./partials/sockets %>
</head>
<body id="home">		

<% include ./partials/navbar %>

<div class="container-fluid">
	<div class="jumbotron">
		<h1><span>
			Emma's Minecraft Server
		</span></h1>
	</div>
	<% if (locals.user && user.local.admin) { %>
	<div class="container">
		<div id="admin-container"></div>
		<script src="admin_modules.js"></script>
	</div>
	<% } else  { %>
	<div class="container">
		<h1>Welcome!</h1>
		<p>Login or signup to access server actions.</p>
		<p>You have to be granted admin privileges before you can manage the server.  Ask Justin to become an admin!</p>	
	</div>
	<% } %>
</div>
	
</body>
</html>