<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
	<% include ./partials/sockets %>
</head>
<body>		

<% include ./partials/navbar %>

<div class="container">
	<% if (locals.user && user.local.admin) { %>
		<div id="admin-container"></div>
		<script src="server_modules.js"></script>
	<% } else  { %>
		<h1>Welcome to Emma's Minecraft Server!</h1>
		<div>
			<p>Login or signup to access server actions.</p>
			<p>Justin has to make users administrators before they can manage the server.  Ask him to become an admin!</p>
		</div>
	<% } %>
</div>
	
</body>
</html>